<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication Application</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
      /* Add your CSS styles for the header here */
      body {
        background-color: #b5c0d0;
      }
      header {
        background-color: #0c2d57;
        color: #fff;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Authentication Application</h1>
    </header>
    <main>
      <!-- This is where content from other pages will be injected -->
      <%- body %>
    </main>
  </body>
</html>
